body {
        background-color: dimgrey;

}

h1 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 40px;
}

#login {
    background-color: #FFFFFF;
    padding: 100px 0px 100px 0px;
    margin: 150px 475px 20px 475px;
    text-align: center;
}

.form {
    padding: 10px 0px 10px 0px;
    width: 225px;
}

#button {
    margin: 10px 20px 0px 180px;
    width: 70px;
}

footer {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
