#rightNav {
    padding: 20px;
    float: right;
    margin-top: 10px;
}

h1 {
    float: left;
    font-family: 'ABeeZee', sans-serif;
    font-size: 48px;
    padding: 20px;
}

h4 {
    display: inline;
}

.footer {
    text-align: center;
    padding-top: 12px;
}

.current-post {
    padding: 10px;
    margin-bottom: 20px;
}
